/.vscode
/Assets
/kernelsCache
/Library
/Logs
/obj
/Packages/*
/ProjectSettings
/Temp
*.csproj
Assets.meta
LICENSE.meta
README.md.meta
README_ja.md.meta
VRCBCE.sln
!/Packages/com.vrcbilliards.vrcbce/
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
UserSettings/Search.settings
UserSettings/Search.index
