/.vscode
/Assets
/kernelsCache
/Library
/Logs
/obj
/Packages/*
/ProjectSettings
/Temp
AltGUI.csproj
AmplifyShaderEditor.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets.meta
EnhancedHierarchyEditor.csproj
LICENSE.meta
README.md.meta
README_ja.md.meta
UdonSharp.Editor.csproj
UdonSharp.Runtime.csproj
UnityEditorTests.csproj
VRC.SDKBase.Editor.BuildPipeline.csproj
VRC.SDKBase.Editor.ShaderStripping.csproj
VRC.Udon.csproj
VRC.Udon.Editor.csproj
VRC.Udon.Editor.UPMImporter.csproj
VRC.Udon.Serialization.OdinSerializer.csproj
VRCBCE.sln
!/Packages/com.vrcbilliards.vrcbce